

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Garante que o padding e a borda sejam incluídos na largura e altura */
}

/* Cabeçalho */
.cabecalho {
  background-color: #0221bd;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cabecalho a {
  text-decoration: none;
  color: #333;
  margin: 0 10px;
}

.logo1, .logo2 {
  height: 30px;
}

/* Seção de Localização */
.comeco {
  text-align: center;
  padding: 20px;
}

.comeco button {
  background-color: #0221bd;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px;
}

/* Seção de Entrega */
.parte1 {
  text-align: center;
  padding: 20px;
}

.parte2 {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.parte2 div {
  text-align: center;
}

.parte2 img {
  width: 100px;
}
