/* Estilo geral do corpo */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Estilo da seção do cabeçalho */
.cabecalho {
    background-color: #005cbf;
    color: white;
    padding: 20px 0;
}

.cabecalho .unico {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.cabecalho a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.logo1, .logo2 {
    height: 50px; /* Ajuste conforme necessário */
}

/* Estilo do conteúdo principal */
.comeco {
    text-align: center;
    background-color: #f2f2f2;
    padding: 20px 0;
}

.comeco h1, .comeco h2 {
    margin: 10px;
}

button {
    background-color: #005cbf;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
}

/* Estilo das seções parte1 e parte2 */
.parte1, .parte2 {
    text-align: center;
}

.parte1 h1 {
    background-color: #005cbf;
    color: white;
    padding: 10px 0;
}

.parte2 {
    display: flex;
    justify-content: center;
}

.teste  {
    width: 100px;
    margin-right: 10px;
    height: 120px;
}

.texto p {
    font-size: 18px; /* Ajuste conforme necessário */
    font-weight: bold;
    margin-right: 250px;
}
