/* Estilo geral do corpo */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Estilo da seção do cabeçalho */
.cabecalho {
    background-color: #005cbf;
    color: white;
    padding: 20px 0;
}

.cabecalho .unico {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.cabecalho a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}
.logo1 {
    filter: invert(100%);
    height: 50px;
}
.logo2 {
    height: 50px; 
}

/* Estilo do conteúdo principal */
.comeco {
    text-align: center;
    padding: 20px 0;
}

.comeco h1 {
    font-size: 20px;
    margin: 10px;
    color: #005cbf;
    margin-left: 50px;
    margin-top: 1px;
}
.comeco h2 {
margin-left: 25px;
margin-right: 25px;
}

button {
    background-color: #005cbf;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
}



.parte1 h1 {
    background-color: #005cbf;
    color: white;
    padding: 10px 0;
    margin: 0;
    margin-left: 200px;
    margin-right: 200px;
}

.parte2 {
    display: flex;
    justify-content: center;
    background-color: #f2f2f2;
    margin-left: 200px;
    margin-right: 200px;
    text-align: center;
}

.imagen {
    background-color: #005cbf;
    margin-top: 100px;
    margin-left: 100px;
    border-radius: 100px;
    height: 110px;
    width: 100px;
}

.teste  {
    width: 100px;
    height: 120px;
}
img {
    margin-left: 1px;
}

.texto  {
    font-size: 18px; /* Ajuste conforme necessário */
    font-weight: bold;
    margin-right: 200px;
}
