body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.cabecalho {
    background-color: #005cbf;
    color: white;
    padding: 20px 0;
}

.cabecalho .unico {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.cabecalho a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}
.logo1 {
    filter: invert(100%);
    height: 50px;
}
.logo2 {
    height: 50px; 
}


.parte1 {
    text-align: center;
    padding: 50px 0;
}

.parte1 h1 {
    color: #333333; /* Cor do texto */
    margin-bottom: 20px;
}

.parte1 button {
    background-color: #0221bd; /* Cor do botão vermelho */
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 0 10px;
    cursor: pointer;
    font-size: 16px;
}

.parte1 p {
    color: #000000; /* Cor do texto 'OU' */
    margin: 15px 0;
}

.imagens {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 20px;
}

.imagens img {
    height: auto;
    border-radius: 10px;
}
.extra {
    display: flex;
    gap: 10px;
    flex-direction: column;    
}
.foto3 {
    margin-left: 210px;
}

