body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cabecalho {
    background-color: #0221bd; 
    padding: 20px 0;
    text-align: center;
}

.cabecalho a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    font-size: 16px;
}

.logo1,
.logo2 {
    width: 100px; /* Tamanho das logos */
}

.parte1 {
    background-color: #f3f3f3; /* Fundo cinza claro */
    text-align: center;
    padding: 50px 0;
}

.parte1 h1 {
    color: #333333; /* Cor do texto */
    margin-bottom: 20px;
}

.parte1 button {
    background-color: #0221bd; /* Cor do botão vermelho */
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 0 10px;
    cursor: pointer;
    font-size: 16px;
}

.parte1 p {
    color: #000000; /* Cor do texto 'OU' */
    margin: 15px 0;
}

.imagens {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    padding: 20px;
}

.imagens img {
    width: calc(25% - 20px); /* Ajuste para quatro imagens */
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}
