body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.cabecalho {
    background-color: #005cbf;
    color: white;
    padding: 20px 0;
}

.cabecalho .unico {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.cabecalho a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}
.logo1 {
    filter: invert(100%);
    height: 50px;
}
.logo2 {
    height: 50px; 
}

.login-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

.login-container h2 {
    margin-bottom: 10px;
}

.login-container p {
    margin-bottom: 20px;
}

.login-container form {
    display: flex;
    flex-direction: column;
}

.login-container label {
    margin-bottom: 5px;
    text-align: left;
}

.login-container input {
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.options a {
    font-size: 12px;
}

.options label {
    font-size: 12px;
}

button {
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button.facebook {
    background-color: #3b5998;
    color: #fff;
    margin-bottom: 10px;
}

button.google {
    background-color: #db4437;
    color: #fff;
    margin-bottom: 10px;
}

button.apple {
    background-color: #000;
    color: #fff;
}
